################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LiveShow.Core/obj/Debug/netcoreapp2.2
/.vs/LiveShow/v15/Server/sqlite3
/LiveShow.Core/obj
/LiveShow.Domain/obj
/LiveShow.Service/obj
/Web/LiveShow.Web/obj
/LiveShow.Core/bin/Debug/netcoreapp2.2
/LiveShow.Domain/bin/Debug/netcoreapp2.2
/LiveShow.Service/bin/Debug/netcoreapp2.2
/Web/LiveShow.Web/bin/Debug/netcoreapp2.2
/.vs/LiveShow/v15
